body {
  background-color: #ddd;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  background-color: aqua;
  text-align: center;
}
.container h1 {
  font-size: 40px;
}

.container p {
  font-size: 24px;
  line-height: 1.4;
}

.container img {
    max-width: 600px;
}
